# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
nama_env/

# VSCode settings (kalau make)
.vscode/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/
